<div class="row">
    <div class="col-xs-6 col-xs-offset-3">
        <div class="input-group">
            <span class="input-group-btn">
                <button class="btn btn-default"><i class="fa fa-search"></i></button>
            </span>
            <input type="text" class="form-control" placeholder="Search for ..." ng-model="searchText">
        </div>
    </div>
</div>
<h4>Current Pins in Board</h4>
<div class="default_pins" ng-repeat="pin in pins">
    <div class="col-xs-4 pins">
        <div class="card">
          <div class="card-block">
            <h4 class="card-title">{{pin.title}}</h4>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a  class="btn btn-danger" ng-click="deletePinFromBoard(pin.id)">Delete From Board</a>
          </div>
        </div>
    </div>
</div>