<div class="row">
    <div class="col-xs-6 col-xs-offset-3">
        <div class="input-group">
            <span class="input-group-btn">
                <button class="btn btn-default"><i class="fa fa-search"></i></button>
            </span>
            <input type="text" class="form-control" placeholder="Search for ..." ng-model="searchText">
        </div>
    </div>
</div>

<h3>Boards</h3>
<div class="default_pins" ng-repeat="board in boards">
    <div class="col-xs-4 boards">
        <div class="card">
          <div class="card-block">
            <h4><a href="#/boards/view/{{board.id}}">{{board.id}}</a></h4>
            <p class="card-text">{{board.desc}}</p>
            <div class="col-xs-1"><button class="btn btn-danger fa fa-trash-o" ng-click="deleteBoard(board.id)" ></button></div>
          </div>
        </div>
    </div>
</div>