<h3>New Pin</h3>
<form>
    <div class="form-group">
        <label>Title:</label>
        <input type="text" class="form-control" placeholder="Title of Pin" ng-model="newPin.title">
        <label>Image url:</label>
        <input type="text" class="form-control" placeholder="Image url" ng-model="newPin.url">
    </div>
    <div ng-repeat="board in boards">
        <button type="button" class="btn btn-primary btn-lg col-xs-2" ng-click="addNewPin(newPin, board.id)">Add to {{board.title}}</button>
    </div>
</form>