<h3>New Pin</h3>
<form>
    <div class="form-group">
        <label>Title:</label>
        <input type="text" class="form-control" placeholder="Title of Pin" ng-model="newPin.title">
        <label>Description:</label>
        <input type="text" class="form-control" placeholder="Describe Your Pin" ng-model="newPin.description">
        <label>Image url:</label>
        <input type="text" class="form-control" placeholder="Image url" ng-model="newPin.url">
    </div>
    <div class="form-group">
        <label for="sel1">PIN to Board:</label>
        <select ng-model="boardId" ng-change="addNewPin(newPin, boardId)">
            <option value="">---</option>
            <option ng-repeat="board in boards" value="{{board.id}}">Add to
                {{board.title}}</option>
        </select>
    </div>
</form>
