<div class="row">
    <div class="col-xs-6 col-xs-offset-3">
        <div class="input-group">
            <span class="input-group-btn">
                <button class="btn btn-default">
                    <i class="fa fa-search"></i>
                </button>
            </span>
            <input type="text" class="form-control" placeholder="Search for ..." ng-model="searchText">
        </div>
    </div>
</div>

<h3>Default Pins</h3>
<div class="row">
    <div class="default_pins" ng-repeat="pin in pins | filter: searchText">
        <div class="col-xs-4">
            <div class="card">
                <img class="card-img-top" src="{{pin.url}}" alt="Card image cap">
                <div class="card-block">
                    <h4 class="card-title">{{pin.title}}</h4><!-- Make this a link to a modal that shows the pin and the details -->

                    <p class="card-text">{{pin.description}}</p>

                    <div >

                        <label for="sel1">PIN to Board:</label>
                        <select ng-model="boardId" ng-change="addPinToBoard(pin, boardId)">
                            <option value="">---</option>
                            <option ng-repeat="board in boards" value="{{board.id}}">Add to
                                {{board.title}}</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
